# Dependencies
node_modules/
venv/
ENV/
env/
.venv

# Build outputs
.next/
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Local development
trips2gether.db
backend/run_local_sqlite.sh
backend/run_sqlite_local.sh
backend/run_sqlite.sh

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.installed.cfg
*.egg


# package-lock.json
frontend/package-lock.json